body {
    margin: 8%;
    background-image: url('images/bg.jpg');
    background-position: center;
    position: relative;
}

.page-header {
    width: auto;
    padding: 5px;
    position: sticky;
    background-color: #00000081;
    color: #999595;
    text-align: center;
    border-top-right-radius: 20px;
}

#clear {
    width: 218px;
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

.calstyle {
    width: 220px;
    height: 406px;
    margin: auto;
    border: 2px solid gray;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('images/skin.png');
}

input {
    width: 70px;
    height: 30px;
    color: white;
    border-color: rgba(255, 217, 0, 0.555);
    border-radius: 20%;
    background-image: url('images/button.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    outline: none;
}

input:hover {
    color: rgb(238, 255, 0);
    border-color: black;
    border-radius: 10%;
    cursor: pointer;
}

#rslt {
    margin: 5px 0 5px 0;
    width: 214px;
    height: 30px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.page-footer {
    width: 96%;
    padding: 4px;
    position: sticky;
    background-color: #000000b4;
    color: #d8f820de;
    text-align: center;
    border-bottom-left-radius: 20px;
}